.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.toolbarName{
  border-bottom:2px solid var(--primary);

  span{
    margin: auto;
    color: var(--primary);
  }
}

.span{
 margin: auto;
 mat-icon{
  background-repeat: no-repeat;
  display: block ruby;
  display: currentColor;
  height: 31px;
  width: 31px;
  cursor: pointer;
 }
}

.material-icons{
  font-size: 30px;
}
.mat-toolbar.mat-primary{
  background-color: var(--primary);
}

table {
  width: 100%;
 
}
.tabela{
  padding:70px
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type,
th.mat-header-cell, td.mat-cell, td.mat-footer-cell,
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type{
  text-align: center;
}
th.mat-sort-header-sorted {
  color: black;
}