.loginCard {
    display: block ruby;
    text-align: center;
    mat-card-title {
        border-bottom: 1px solid black;
        padding-bottom: 16px;

        background: var(--primary);
        padding-top: 14px;
        border-radius: 20px 20px 0 0;
    }
    mat-card {
        margin: 17vh auto 0;
        padding-left: 0;
        padding-right: 0;
        padding-top:0;
        border-radius: 20px;
        width: 27rem;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    .inputs {
        display: grid;
        padding: 30px 39px 30px 39px;
    }
}

@media only screen and (max-width: 500px) {
    .card {
        width: 20rem !important;
    }
}
@media only screen and (max-width: 381px) {
    .card {
        width: 17rem !important;
    }
}

.loginButton{
background-color: var(--primary);
}