<div class="loginCard">
    <mat-card class="card">
    <form>
        <mat-card-title>LOGIN</mat-card-title>
        <div class="inputs">
        <mat-form-field>
          <input [(ngModel)]="username" matInput placeholder="Username" type="text" [ngModelOptions]="{standalone: true}" >
        </mat-form-field>
      
        <mat-form-field>
            <input [(ngModel)]="password" matInput placeholder="Password" type="password"  [ngModelOptions]="{standalone: true}">
          </mat-form-field>
        </div>
      </form>
      <button mat-raised-button class="loginButton" (click)="login()">LOGIN</button>
    </mat-card>
</div>
